.register-box{margin:1% auto;}
.register-page .alert{margin-bottom:0;border-radius:0 !important;}
.table form{display:inline;}
.row{padding:7px !important;}
.red-t{color:#ff0000;}
fieldset{padding:0px 20px 10px 20px;margin:0 0 20px 0;min-width:0;border:#cccccc 1px solid;}
legend{border-bottom:0;}
input:disabled{opacity:0.5 !important;}
.remove_list{border-style:solid;border-radius:50%;background-color:#555555;border:0;width:28px;height:28px;position:absolute;right:-40px;margin:-15px 0 0 0;cursor:pointer;top:10%;}
.remove_list:after{width:8px;height:2px;background-color:rgb(216, 224, 241);content:"";position:absolute;top:50%;left:0;right:0;margin:-1px auto 0 auto;}
.childinfo{position:relative;}
.modal-open .select2-dropdown{z-index:10060;}
.modal-open .select2-close-mask{z-index:10055;}
legend
{
	width: auto;
}