.qenquiry {
	font-size:14px;
	color:#000;
	padding-left:20px;
	line-height:21px;
}
.qenquiry a {
	color:#fff;
}
.popup-main-block {
	max-width:600px;
	margin:0 auto;
	position:relative;
	padding:0;
	position:relative;
	z-index: 9999999;
	top:25px;
}
.popup_block2 {
	overflow:hidden;
	margin: 0 0 0 0px;border: 5px solid #ffffff;
    border-radius: 5px;
}
.popup_block2 .popup {
	float: left;
	width: 100%;
	padding: 10px 0;
}
.popup_block2 .popup h2 {
	color:#af0f14;
	font-weight:normal;
	margin:0 0 10px 0;
	font-size:24px;
}
.popup_block2 .popup ol {
	margin:0 0;
}
.popup_block2 .popup ol li {
	padding-bottom:15px;
	font-size:14px;
}
.popup_block2 .popup ol li abbr {
	padding-bottom:5px;
	color:#af0f14;
}
#hideshow {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
#fade {
	background: #000;
	position: fixed;
	width: 100%;
	height: 100%;
	filter:alpha(opacity=80);
	opacity: .80;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /*--IE 8 Transparency--*/
	left: 0;
	z-index:1000;
}
#balaji {
	position: relative;
	display: none;
	z-index:1000;
}
#close_x {
	width: 24px;
	height: 23px;
	overflow: hidden;
	line-height: 1000px;
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	background:url(../images/close.gif) no-repeat;
}
#lightbox {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}
#lightbox a img {
	border: none;
}
#outerImageContainer {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#imageContainer {
	padding: 10px;
}
#loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#hoverNav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#imageContainer>#hoverNav {
	left: 0;
}
#hoverNav a {
	outline: none;
}
#prevLink, #nextLink {
	width: 49%;
	height: 100%;
	background: transparent url(../images/blank.gif) no-repeat; /* Trick IE into showing hover */
	display: block;
}
#prevLink {
	left: 0;
	float: left;
}
#nextLink {
	right: 0;
	float: right;
}
#prevLink:hover, #prevLink:visited:hover {
	background: url(images/prevlabel.gif) left 15% no-repeat;
}
#nextLink:hover, #nextLink:visited:hover {
	background: url(images/nextlabel.gif) right 15% no-repeat;
}
#imageDataContainer {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%
}
#imageData {
	padding:0 10px;
	color: #666;
}
#imageData #imageDetails {
	width: 70%;
	float: left;
	text-align: left;
}
#imageData #caption {
	font-weight: bold;
}
#imageData #numberDisplay {
	display: block;
	clear: left;
	padding-bottom: 1.0em;
}
#imageData #bottomNavClose {
	width: 66px;
	float: right;
	margin: 1.0em;
}
#overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	min-height: 500px;
	background-color: #000;
}
/* * * * * V 0.3 * * * * * /
/* html,body thanks to Torben  - http://blog.schreiter.info/ */
html, body {
	height:100%;
	min-height:100%;
}
.close2{ position: absolute;
    right: 0;
    top: 0x;}
	.close3{ position: absolute;
    right: -15px;
    top: -10px;}
.logo a{z-index:0;}
