@media (min-width: 1100px){
	.main_title {
		font-size: 1.8rem;
	}
	.welcome_text{
		font-size: 1.2rem;
	}
}
@media (min-width: 1440px){
	.maroon_bg{
		background-size: 143%;
	}
	/*.footer_bg:before, .footer_bg:after{
		display: none;
	}*/
}
@media (min-width: 1650px){
	.maroon_bg{
		background-size: 132%;
	}
}
@media (min-width: 1800px){
	.maroon_bg{
		background-size: 118%;
	}
	.footer_bg:before{
		width: 15rem;
		height: 25rem;
		bottom: 200px;
	}
	.footer_bg:after{
		width: 15rem;
		height: 25rem;
		bottom: 250px;	
	}
	
}
@media (max-width: 1280px){

	.footer_bg:before, .footer_bg:after{
		display: none;
	}

}
@media (max-width: 992px){
	.mobile_navbar{
		background: #212146;
	}
	.pattern:before{
		display: none;
	}
	.bg_color5 {
    	background: url(../images/flower_bg01.png) no-repeat left 40px #ffffa0;
	}
	.bg_color6 {
    	background: url(../images/flower_bg01.png) no-repeat left 40px #e2eff5;
	}
	.chairman_card{
		min-height: inherit;
	}
}
@media (max-width: 767px){
	.mission_card, .vision_card{
		min-height: inherit;
	}
}
@media (max-width: 420px){
	.maroon_bg{
		padding: 0;
		background: #a32547;
	}
	.rounded-xs-4{
		border-radius: 0 !important;
	}
	.footer_bg{
		margin-top: 0;
	}
}
@media (max-width: 359px){
	.mob-logo{
		max-width: 205px;
	}
}