html{
/*font-size: 10px;*/
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
body{
	background: url(../images/body_bg.jpg) no-repeat center center, url(../images/maroon_bg.png) no-repeat 224px center;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Poppins', sans-serif;
/*	font-size: 1.6rem;*/
}
img{
	max-width: 100%;
}
h1, h2, h3, h4, h5{
	color: #2d2d52;
}
.tuta_header{
	background: url(../images/head_left.jpg) no-repeat left top, url(../images/head_right.jpg) no-repeat right top #212146;
}
.bg_color2{
	background: #fe6101;
}
.maroon_bg{
	background: url(../images/maroon_bg.png) no-repeat top center;
	/*background-size: 115%;*/
}
.content_area{
	background: #fff;
	position: relative;
	box-shadow: 0 0 30px rgb(0 0 0 / 15%);
	min-height: 450px;
}

.bg_color3{
	background: #f7efea;
}
.bg_color4{
	background: url(../images/blue_pattren_bg.jpg);
}
.bg_color5{
	background: url(../images/flower_bg01.png) no-repeat left 40px, url(../images/pen_01.jpg) no-repeat right bottom #ffffa0;
}
.bg_color6{
	background: url(../images/flower_bg01.png) no-repeat left 40px, url(../images/pen_02.jpg) no-repeat right bottom #e2eff5;
}
.bg_color7{
	background: #f7efea;
}
.bg_color8{
	background: #ebf5fa;
}
.bg_color9{
	background: #fefedb;
}
.bg_color10{
	background: #f8faeb;
}
.bg_color11{
	background: #f2ffe6;
}
.white_bg{
	background: #fff;
}
.tutm_card{
	box-shadow: 5px 5px 25px rgba(236,232,226,1);
}
.directors_slider img{
	max-width: 140px;
}
.directors_slider h5 small{
	font-weight: 300;
	opacity: .6;
}
.rounded-4 {
    border-radius: 0.5rem !important;
}
.chairman_card{
	min-height: 520px;
}
.txt-color2{
	color: #b02f3b; 
}
.txt-color3{
	color: #265368; 
}
.txt-color4{
	color: #51b9ff; 
}
.tuta .navbar-dark .navbar-nav .nav-link{
	color: rgba(255,255,255,1);
	padding-right: 1rem;
    padding-left: 1rem;
}
.footer_bg{
	background: url(../images/blue_pattren_bg.jpg);
	position: relative;
	min-height: 200px;
	margin-top: 18px;
}
.footer_bg:before{
	background: url(../images/footer_left.png) no-repeat top left;
	content: "";
	width: 13rem;
	height: 17rem;
	bottom: 280px;
	left: 0;
	position: absolute;
	background-size: 100%;
}
.footer_bg:after{
	background: url(../images/footer_right.png) no-repeat top right;
	content: "";
	width: 13rem;
	height: 20rem;
	bottom: 280px;
	right: 0;
	position: absolute;
	background-size: 100%;
}
.pattern{
	z-index: 1;
}
.pattern:before{
	background: url(../images/footer_top_border.png) repeat-x top center;
	content: "";
	width: 100%;
	height: 18px;
	top: -18px;
	left: 0;
	position: absolute;
}
.footer_btm_bg{
	background: url(../images/footer_bg_02.png) repeat-x center bottom;
    min-height: 200px;
    background-size: 34%;
    color: #b4b4de;
}
.social_icons ul li{
	display: inline-block;
	margin-right: 6px;
}
.social_icons ul li a{
	display: block;
	padding: 12px;
	width: 40px;
    height: 40px;
    color: #fff;
}
.footer_btm_bg a{
	color: #b4b4de;
}
.footer_btm_bg a:hover{
	color: #fff;
}
.tuta hr{
	background: url(../images/hr_border.png) repeat-x;
	height: 5px;
	border: none;
}
.section_title cite{
	display: block;
	color: #7c7c93;
	font-weight: 300;
	font-style: normal;
	font-size: 75%;
}

.main_title small{
	color: #7e7e7e;
	font-weight: 300;
}

.tuta_btn{
	background: rgb(144,26,80);
	background: linear-gradient(0deg, rgba(144,26,80,1) 0%, rgba(203,62,53,1) 100%);
}
.tuta_btn_Nblue{
	background: #212146;
}
.tuta_btn_orange{
	background: #fe6101;
}

/* Inner pages */
.mission_card{
	background: url(../images/flower_bg01.png) no-repeat left 20px #ffffa0;
	min-height: 250px;
}
.vision_card{
	background: url(../images/flower_bg01.png) no-repeat left 20px #e2eff5;
	min-height: 250px;
}
.core_text li:first-letter{
	font-weight: bold;
  	color: #fe6101;
  	margin-bottom: 12px;
}
.tuta_list ul li{
	list-style: none;
	background: url(../images/list_arrow.png) no-repeat 0 7px;
    padding-left: 18px;
    background-size: 8px;
}

.SposonrSwiper{
	height: 250px;
}
.PlatinumSponsors{
	height: 150px;
}
.our_sposors img{
	max-height: 60px;
}